<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango Bango</title>
    </head>

    <body>
        <h1>Rango shmango...</h1>
        <div>
            Rango says here is the about page.<br />
            <h3> This tutorial has been put together by ... <strong>he's coming<strong> :O</h3>
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        </div>
    </body>

</html>